/** @jsxRuntime classic */ /** @jsx jsx */ import { jsx, ThemeProvider } from
'theme-ui'; import theme from '../../theme'; import PropTypes from 'prop-types';
import '../../global.css'; /** * Use the
{{pascalCase name}}
component in your ui.

<br />
<br />
<h3>Basic {{pascalCase name}}</h3>
{{pascalCase name}}
description */ export const
{{pascalCase name}}
= ({ sx }) => { return (
<div>This is the {{pascalCase name}} component</div>
); };

{{pascalCase name}}.propTypes = { /** * Optional extra sx props for styling
using the theme object */ sx: PropTypes.any, };

{{pascalCase name}}.defaultProps = {};